@page
@model MSMES.Web.Pages.WorkOrders.IndexModel
@{ ViewData["Title"] = "작업지시 관리"; }

<h1>작업지시 목록</h1>
<a class="btn" href="#">신규 작업지시</a>
<table style="margin-top:16px;">
    <thead><tr><th>작업지시번호</th><th>수주번호</th><th>품목</th><th>계획수량</th><th>상태</th></tr></thead>
    <tbody>
        <tr><td colspan="5">데이터 없음 (목록 페이지 틀)</td></tr>
    </tbody>
</table>
