@page
@model MSMES.Web.Pages.Shipments.IndexModel
@{ ViewData["Title"] = "출하 관리"; }

<h1>출하 목록</h1>
<a class="btn" href="#">신규 출하</a>
<table style="margin-top:16px;">
    <thead><tr><th>출하번호</th><th>수주번호</th><th>출하일</th><th>수령처</th><th>상태</th></tr></thead>
    <tbody>
        <tr><td colspan="5">데이터 없음 (목록 페이지 틀)</td></tr>
    </tbody>
</table>
