@page
@model MSMES.Web.Pages.PurchaseOrders.IndexModel
@{ ViewData["Title"] = "발주 관리"; }

<h1>발주 목록</h1>
<a class="btn" href="#">신규 발주</a>
<table style="margin-top:16px;">
    <thead><tr><th>발주번호</th><th>공급업체</th><th>발주일</th><th>납기일</th><th>상태</th></tr></thead>
    <tbody>
        <tr><td colspan="5">데이터 없음 (목록 페이지 틀)</td></tr>
    </tbody>
</table>
