@page
@model MSMES.Web.Pages.Lots.IndexModel
@{ ViewData["Title"] = "LOT 관리"; }

<h1>LOT 목록</h1>
<table style="margin-top:16px;">
    <thead><tr><th>LOT번호</th><th>품목</th><th>작업지시</th><th>수량</th><th>생산일</th><th>상태</th></tr></thead>
    <tbody>
        <tr><td colspan="6">데이터 없음 (목록 페이지 틀)</td></tr>
    </tbody>
</table>
